  const dateFormat = {
    completeDateTime: 'dddd D MMMM YYYY, HH:mm',
    completeDate: 'dddd D MMMM YYYY',
    dayOfTheWeek: 'dddd D MMMM',
    short: 'DD/MM/YYYY',
    shortDayOfTheWeek: 'dd DD/MM',
    monthDay: 'DD MMM',
    minimal: 'DD/MM',
};

const regionsLabels = {
    abruzzo: 'Abruzzo',
    basilicata: 'Basilicata',
    bolzano: 'Prov. Aut. Bolzano',
    calabria: 'Calabria',
    campania: 'Campania',
    'emilia-romagna': 'Emilia Romagna',
    'friuli-venezia-giulia': 'Friuli Venezia Giulia',
    italy: 'Italia',
    lazio: 'Lazio',
    liguria: 'Liguria',
    lombardia: 'Lombardia',
    marche: 'Marche',
    molise: 'Molise',
    piemonte: 'Piemonte',
    puglia: 'Puglia',
    sardegna: 'Sardegna',
    sicilia: 'Sicilia',
    toscana: 'Toscana',
    trento: 'Prov. Aut. Trento',
    'trentino alto adige': 'Trentino Alto Adige / Südtirol',
    'trentino-alto-adige': 'Trentino Alto Adige / Südtirol',
    umbria: 'Umbria',
    'valle-d-aosta': 'Valle d\'Aosta',
    veneto: 'Veneto',
    north: 'Nord Italia',
    center: 'Centro Italia',
    south: 'Sud Italia<br />e Isole',
};

const regionsShortLabels = {
    abruzzo: 'Abruzzo',
    basilicata: 'Basilicata',
    bolzano: 'P.A. Bolzano',
    calabria: 'Calabria',
    campania: 'Campania',
    'emilia-romagna': 'Emilia Rom.',
    'friuli-venezia-giulia': 'Friuli V. G.',
    italy: 'Italia',
    lazio: 'Lazio',
    liguria: 'Liguria',
    lombardia: 'Lombardia',
    marche: 'Marche',
    molise: 'Molise',
    piemonte: 'Piemonte',
    puglia: 'Puglia',
    sardegna: 'Sardegna',
    sicilia: 'Sicilia',
    toscana: 'Toscana',
    trento: 'P.A. Trento',
    'trentino alto adige': 'Trentino Alto Adige / Südtirol',
    'trentino-alto-adige': 'Trentino Alto Adige / Südtirol',
    umbria: 'Umbria',
    'valle-d-aosta': 'Valle d\'Aosta',
    veneto: 'Veneto',
    north: 'Nord Italia',
    center: 'Centro Italia',
    south: 'Sud Italia<br />e Isole',
};

const mainEvents = [
    {
        day: '2020-02-24',
        event: 'Benché il primo caso in Italia di COVID-19 risalga al 31 gennaio, è a partire da oggi, 24 febbraio, che i dati vengono resi pubblici.'
    },
    {
        day: '2020-03-04',
        event: 'Scuole, università, palestre, teatri, cinema e piscine vengono chiusi.'
    },
    {
        day: '2020-03-07',
        event: 'La lombardia e altre undici province vengono dichiarate zona rossa.'
    },
    {
        day: '2020-03-09',
        event: 'Tutto il paese viene dichiarato zona rossa. È proibito viaggiare all\'estero, e al di fuori del proprio comune di residenza.'
    },
    {
        day: '2020-03-11',
        event: 'Chiusura di tutti i negozi, bar, ristoranti, salvo quelli che vendono cibo e altri beni essenziali. I cittadini sono invitati a non lasciare le loro abitazioni.'
    },
    {
        day: '2020-03-21',
        event: 'Blocco di tutte le attività produttive non essenziali. I cittadini possono circolare solo per comprovati motivi di salute o emergenza. Le forze armate supporteranno le forze di polizia per controllare il rispetto delle indicazioni governative.'
    },
    {
        day: '2020-03-31',
        event: 'Il nuovo ospedale costruito nei locali di FieraMilanoCity viene inaugurato.'
    },
    {
        day: '2020-04-10',
        event: 'Il blocco di tutte le attività produttive non essenziali è prolungato fino al 4 maggio.'
    },
    {
        day: '2020-04-26',
        event: 'Il Presidente Conte annuncia la firma del decreto per la fase due: dal 4 maggio potranno ripartire la manifattura e il commercio all\'ingrosso, dal 18 il commercio al dettaglio. Regole ancora differenti per ristoranti, bar, e servizi di cura alla persona. Scuole, cinema, teatri, palestre rimangono chiusi. Rimangono in vigore, anche se leggermente attenuate, le limitazioni alla libertà di spostamento.'
    },
    {
        day: '2020-05-04',
        event: 'Inizia ufficialmente la cosiddetta "Fase 2".'
    },
];

const vocabulary = {
  activeCases: 'casi attivi',
  cases: 'casi',
  comparedToPreviousDay: 'Rispetto al giorno precedente',
  day: 'giorno',
  days: 'giorni',
  fatalities: 'decessi',
  hospitalized: 'ospedalizzati',
  icu: 'terapia int.',
  lastUpdate: 'Ultimo aggiornamento',
  legend: 'Legenda',
  newCases: 'nuovi casi',
  quarantined: 'in quarantena',
  quarantinedAbbr: 'quarantena',
  recovered: 'guariti',
  show: 'Mostra',
  showAllRegions: 'Mostra tutte le regioni',
  showTopNRegions: 'Mostra le prime {number} regioni',
  tested: 'testati',
  totalCases: 'casi totali',
  //Cases and Recoveries
  soFarRecovered1: 'Finora sono guarite',
  soFarRecovered2: '{number} persone',
  // Evolution Chart
  evolution: '{number} casi attivi in<br />Italia il {date}',
  // Spacer Chart
  spacer: '{number} {index} in Italia al {date}',
  // Daily recoveries and new cases
  dailyRecoveries: 'Guarigioni giornaliere',
  dailyNewCases: 'Nuovi casi giornalieri',
  dailyCases: 'Casi giornalieri',
  dailyFatalities: 'Morti giornaliere',
  dailyRecoveries: 'Guarigioni giornaliere',
  newRecoveries: 'Guarigioni giornaliere',
  movingAvg: 'Media mobile',
  // Hospitalizations and recoveries
  hospitalizations: 'Ospedalizzazioni',
  recoveries: 'Guarigioni',
  // Map
  map: 'Casi per {number} abitanti',
  // Tests
  soFarHaveBeenPerformed: 'Finora sono stati effettuati',
  tests: 'tamponi',
  soFarCountry: 'Finora in <span class="tested-group-label-highlight">{country}</span>, sono stati effettuati <span class="tested-group-label-highlight">{number}</span> tamponi ogni <span class="tested-group-label-highlight">{base}</span> abitanti',
  whiteSquare: 'Il quadrato bianco rappresenta {base} abitanti',
  latestData: 'Ultimi dati disponibili per la {country}: {date}',
  // Epicenters
  confirmedCases: 'casi confermati',
  // Matrix
  inICU: 'In Terapia Intensiva',
  // Provinces
  casesPer: 'Casi per {number} abitanti',
  // Nations
  germany: 'Germania',
  southKorea: 'Sud Corea',
  italy: 'Italia',
  // People tested
  weighted: 'Valori normalizzati',
  absolute: 'Valori assoluti',
  sort: 'Ordina per',
  weighted_people_tested: 'Persone testate (normalizzato)',
  weighted_tests_done: 'Tamponi effettuati (normalizzato)',
  total_people_tested: 'Persone testate',
  total_tests_done: 'Tamponi effettuati',
  population: 'abitanti',
  ratio: 'Indice test ripetuti',
  peopleTested: 'Persone testate',
  tests: 'Tamponi effettuati',
  testedPerBase: 'Persone testate ogni <strong>{base}</strong> abitanti',
  testsPerBase: 'Tamponi effettuati ogni <strong>{base}</strong> abitanti',
  testsPerPerson: 'Indice dei test ripetuti <sup>*</sup>',
  testsPerPersonExplanation: '<sup>*</sup> The number indicates how many time a test has been performed on the same person. A number closer to 1 means that almost anyone who has been tested received just 1 test, higher numbers indicate that it is common in the region to perform more than 1 test on the same person. This number is higher in Northern Italian regions where the number of infected is higher and it is necessary to check their status before release them from the hospitals.',
};
