<script>
  const population = {
      china: 1439323776,
      "mainland-china": 1439323776,
      daegu: 2489802,
      france: 65273511,
      hubei: 58500000,
      italy: 60483973,
      germany: 83725113,
      southkorea: 51269185,
      "south-korea": 51269185,
      spain: 46749225,
      uk: 67776038,
      us: 329450000,
      lombardia: 10060574,
      lazio: 5879082,
      campania: 5801692,
      sicilia: 4999891,
      veneto: 4905854,
      "emilia-romagna": 4459477,
      piemonte: 4356406,
      puglia: 4029053,
      toscana: 3729641,
      calabria: 1947131,
      sardegna: 1639591,
      liguria: 1550640,
      marche: 1525271,
      abruzzo: 1311580,
      "friuli-venezia-giulia": 1215220,
      "trentino-alto-adige": 1072276,
      umbria: 882015,
      basilicata: 562869,
      molise: 305617,
      "valle-d-aosta": 125666,
      trento: 541098,
      bolzano: 531178,
  };
  const numberFormat = {
      abbreviated: '.2s', //1,2M
      decimals: ',.2f', //1,12
      percent: '+,%', // +3%
      percent_decimals: '+,.2%', // +3,23%
      percent_decimals_short: '+,.1%', // +3,2%
      thousands: ',', // 1.000
      thousands_sign: '+,', // +1.000
      no_trailing: '~s', // 1,5k
      no_decimals: ',.0f' // 2
  };
  {%- if page.language == 'en' -%}
    {% include en.html %}
  {%- endif -%}
  {%- if page.language == 'it' -%}
    {% include it.html %}
  {%- endif -%}
  const chartObjects = [{method: 'evolution', id: 'evolution'}];
  const currentLanguage = '{{page.language}}';

</script>