<script>
    (() => {
        const dataSource = 'https://corona.elezioni.io/data';
        const data = {};
        const $chartContainer = document.querySelector('#charts-container');

        const drawCharts = () => {
            setTimeout(
                () => {
                    $chartContainer.classList.remove('loading');
                },
                1500);
        }
        
        const prepareCharts = () => {
            console.log('DATA LOADED', data);
            drawCharts();
        }
        
        const loadData = async () => {
            d3.dsv(",", record.data)
                .then((input) => {
                    data = input.data;
                    prepareCharts();
                });
        }

        const init = async () => {
            await loadData();
        }

        init();
    })();
</script>