<div class="page-chart-share">
  <div class="social-button">
      <a
          href="https://twitter.com/share?ref_src=twsrc%5Etfw"
          class="twitter-share-button"
          data-text="{%- if page.language == 'en' -%}#CoronaVirus in #Italy shows daily interactive charts to better understand how the contagion is evolving in #Italy #datavisualization #dataviz{%- endif -%}{%- if page.language == 'it' -%}#CoronaVirus in #Italy mostra grafici interattivi per capire meglio come il contagio sta evolvendo in #Italia #datavisualization #dataviz{%- endif -%}"
          data-via="visualizenews"
          data-hashtags="coronavirus"
          data-related="visualizenews,simonelippolis,littleark"
          data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="social-button">
      <div class="fb-share-button"
          data-href="https://coronavirus.visualize.news"
          data-layout="button_count"
          data-size="small">
              <a target="_blank"
                  href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                  class="fb-xfbml-parse-ignore">Share</a>
      </div>
  </div>
</div>