
<div class="share">
  <ul>
      <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&sdk=joey&u=https%3A%2F%2Fcoronavirus.visualize.news%2F&display=popup&ref=plugin&src=share_button" target="_facebook">Share on Facebook</a></li>
      <li class="twitter"><a href="https://twitter.com/intent/tweet?hashtags=covid19,datavisualization&original_referer=https%3A%2F%2Fcoronavirus.visualize.news%2F&ref_src=twsrc%5Etfw&text=How%20is%20the%20%23coronavirus%20situation%20in%20%23Italy?%20Check%20out%20this%20visual%20esploration%20from%20from%20%40VisualizeNews&tw_p=tweetbutton&url=https%3A%2F%2Fcoronavirus.visualize.news" target="_twitter">Share on Twitter</a></li>
  </ul>
</div>