#cases-recovered {
    .cases-recovered-wrapper {
        display: block;
        
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

        &.not-visible {
            height: 0;
            overflow: auto;
        }
    }

    .cases-recovered-column {
        display: block;
        padding-bottom: 20px;

        @media screen and (min-width: 768px) {
            flex: 0 0 50%;
            padding: 0 30px 20px 30px;

            &.cases-recovered-column-first {
                flex: 0 0 100%;
            }
        }
    }

    .cases-recovered-title {
        font-size: 16px;
        font-weight: 200;
        margin: 0;
        text-align: center;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            font-size: 24px;
        }
    }

    .cases-recovered-rect {
        fill: #eee;
        transition: fill .25s ease-in-out;

        &:active,
        &:hover {
            fill: #9651A2;
        }
    }

    .cases-recovered-rect-max {
        fill: #ff2e71;
    }

    .cases-recovered-axis {
        stroke: #eee;
        stroke-width: 1;
    }

    .cases-recovered-tick {
        stroke: #eee;
        stroke-width: 1;
    }

    .cases-recovered-tick-label {
        font-size: 12px;
        font-weight: 200;
        fill: #eee;
    }

    .cases-recovered-top-line {
        stroke: #ff2e71;
        stroke-dasharray: 2 4;
        stroke-width: 1;
    }

    .cases-recovered-top-label {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.02rem;
        fill: #ff2e71;
        text-shadow: 0 0 1px #222;
        text-transform: uppercase;
    }

    .cases-recovered-recovered-label {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.02rem;
        fill: #C2FCF3;
        text-shadow: 0 0 1px #222;
        text-transform: uppercase;
    }

    .cases-recovered-recovered-line-v,
    .cases-recovered-recovered-line {
        stroke: #C2FCF3;
        stroke-dasharray: 2 2;
        stroke-width: 1;
    }

    .cases-recovered-recovered-line-v {
        stroke-dasharray: none;
        stroke-width: 2;
    }

    .cases-recovered-chart {
        position: relative;
    }

    .cases-recovered-tooltip {
        background: #9651A2;
        border-radius: 5px;
        display: none;
        height: auto;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate3d(-50%, -100%, 0);
        width: 180px;
        z-index: 99;

        &:after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #9651A2;
            content: '';
            display: none;
            height: 0; 
            left: 50%;
            position: absolute;
            top: 100%;
            transform: translate3d(-50%, 0, 0);
            transition: opacity .05s ease-in;
            width: 0; 
        }

        &.left {
            transform: translate3d(0, -100%, 0);

            &:after {
                border-width: 10px 5px 0 5px;
                left: 0;
                transform: translate3d(-3px, -3px, 0) rotate(27deg);
            }
        }

        &.right {
            transform: translate3d(-100%, -100%, 0);

            &:after {
                border-width: 10px 5px 0 5px;
                left: auto;
                right: 0;
                transform: translate3d(3px, -3px, 0) rotate(-27deg);
            }
        }

        &.cases-recovered-tooltip-visible {
            display: block;

            &:after {
                display: block;
            }
        }

        .cases-recovered-tooltip-inner {
            font-size: 12px;
            padding: 10px;

            .cases-recovered-tooltip-data {
                text-transform: uppercase;
            }

            .cases-recovered-tooltip-date {
                font-size: 14px;
                font-weight: 200;
                margin: 0 0 5px 0;
            }

            strong {
                font-weight: 900;
            }
        }
    }

    .cases-recovered-show-more {
        text-align: center;
    }
}