#cases-recovered {
    .cases-recovered-wrapper {
        display: block;
        
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

        &.not-visible {
            height: 0;
            overflow: auto;
        }
    }

    .cases-recovered-column {
        display: block;
        padding-bottom: 20px;

        @media screen and (min-width: 768px) {
            flex: 0 0 33.33%;
            max-width: 33.33%;
            padding: 0 30px 20px 30px;

            &.cases-recovered-column-first {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    .cases-recovered-title {
        font-size: 16px;
        font-weight: 200;
        line-height: 1;
        margin: 0;
        text-align: left;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            font-size: 18px;
        }
    }

    .cases-recovered-ghost {
        fill: transparent;
        stroke: none;
    }

    .cases-recovered-group {
        &:active,
        &:hover {
            .cases-recovered-rect {
                fill: #9651A2;
            }
        }
    }

    .cases-recovered-rect {
        fill: #eee;
        transition: fill .25s ease-in-out;
    }

    .cases-recovered-rect-max {
        fill: #ff2e71;
    }

    .cases-recovered-axis {
        stroke: #eee;
        stroke-width: 1;
    }

    .cases-recovered-tick {
        stroke: #eee;
        stroke-width: 1;
    }

    .cases-recovered-tick-label {
        font-size: 12px;
        font-weight: 200;
        fill: #eee;
    }

    .cases-recovered-top-line {
        stroke: #ff2e71;
        stroke-dasharray: 2 4;
        stroke-width: 1;
    }

    .cases-recovered-top-label {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.02rem;
        fill: #ff2e71;
        text-shadow: 0 0 1px #222;
        text-transform: uppercase;
    }

    .cases-recovered-recovered-label {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.02rem;
        fill: #C2FCF3;
        text-shadow: 0 0 1px #222;
        text-transform: uppercase;
    }

    .cases-recovered-recovered-line-v,
    .cases-recovered-recovered-line {
        stroke: #C2FCF3;
        stroke-dasharray: 2 2;
        stroke-width: 1;
    }

    .cases-recovered-recovered-line-v {
        stroke-dasharray: none;
        stroke-width: 2;
    }

    .cases-recovered-chart {
        height: 200px;
        position: relative;

        &.cases-recovered-chart-small {
            height: 150px;
        }
    }

    .cases-recovered-show-more {
        text-align: center;
    }
}