.columns-wrapper {
  position: relative;

  .columns-grid-day {
    stroke: rgba(238, 238, 238, .25);
    stroke-dasharray: 1 4;
    stroke-width: 1;
  }

  .columns-grid-region {
    opacity: .5;
    stroke: rgba(238, 238, 238, .45);
    stroke-dasharray: 2 2;
    stroke-width: 1;
    transition: fill .25s ease-in-out opacity .25s ease-in-out;
  }

  .columns-data-region-ghost {
    fill: none;
    stroke: none;
  }

  .columns-data-region-point-wrapper {
    fill: none;
    opacity: .5;
    stroke: #eee;
    stroke-dasharray: 2 1;
    stroke-width: 1;
  }

  .columns-data-region-point {
    fill: limegreen;
  }

  .columns-data-region-point[class$="-hundreds"] {
    fill: #ffd6db;
  }

  .columns-data-region-point[class$="-thousands"] {
    fill: #ff93a7;
  }

  .columns-data-region-point[class$="-tenthousands"] {
    fill: #ff6b8c;
  }

  .columns-data-region-point[class$="-hundredthousands"] {
    fill: #ff2e71;
  }

  .columns-data-connector {
    opacity: 0;
    stroke: green;
    stroke-width: 1;
    stroke-dasharray: 4 4 2 4;
    transition: opacity .5s ease-in-out;
  }

  .columns-data-connector[class$="-hundreds"] {
    stroke: #ffd6db;
  }

  .columns-data-connector[class$="-thousands"] {
    stroke: #ff93a7;
  }

  .columns-data-connector[class$="-tenthousands"] {
    stroke: #ff6b8c;
  }

  .columns-data-connector[class$="-hundredthousands"] {
    stroke: #ff2e71;
  }



  .columns-data-top-label {
    color: #eee;
    font-size: 10px;
    font-weight: 400;
    min-width: 60px;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 5px;
    transform-origin: 0 50%;
    transform: translate3d(0, 15px, 0) rotate(-90deg);
    white-space: nowrap;

    @media screen and (min-width:768px) {
        font-size: 14px;
        transform: translate3d(0, 0, 0) rotate(-45deg);
    }

    @media screen and (min-width:1024px) {
        font-size: 16px;
    }
  }

  .columns-data-top-label-italy {
    color: #ff2e71;
  }

  .columns-data-date-label {
    color: #eee;
    font-size: 10px;
    font-weight: 400;
    left: 5px;
    margin-top: 2px;
    opacity: .15;
    position: absolute;
    transition: color .25s ease-in-out, opacity .25s ease-in-out;
    pointer-events: none;
    white-space: nowrap;

    @media screen and (min-width:1024px) {
      font-size: 11px;
    }
  }

  .columns-data-legend {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    left: 10px;
    position: absolute;
    right: 10px;
    top: calc(100% - 260px);
    width: auto;

    @media screen and (min-width:768px) {
      top: calc(100% - 180px);
    }

    @media screen and (min-width:1280px) {
      flex-wrap: nowrap;
      left: -10px;
      right: -10px;
      top: calc(100% - 100px);
    }
  }

  .colunms-data-legend-box {
    flex: 0 0 50%;
    margin-bottom: 20px;
    max-width: 50%;
    padding: 0 10px;

    @media screen and (min-width:768px) {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }

    @media screen and (min-width:1280px) {
      flex: 0 0 16.66%;
      max-width: 16.66%;
    }
  }

  .colunms-data-legend-box-title {
    display: flex;
    flex-wrap: nowrap;
    line-height: 16px;
    margin-bottom: 10px;

    .columns-data-legend-symbol {
      flex: 0 0 16px;

      .columns-data-legend-symbol-svg {
        fill: #eee;
      }
    }
    
    .columns-data-legend-title {
      flex: 1 1 auto;
      font-size: 14px;
      font-weight: 200;
      padding-left: 10px;
    }
  }

  .columns-data-legend-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .columns-data-legend-button {
    border: 0;
    cursor: pointer;
    display: block;
    flex: 0 0 50%;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    margin: 0;
    max-width: 50%;
    outline: none;
    padding: 0;
    text-align: center;
    -webkit-appearance: none;

    &.columns-data-legend-button-hundreds {
      background: #ffd6db;
    }

    &.columns-data-legend-button-thousands {
      background: #ff93a7;
    }

    &.columns-data-legend-button-tenthousands {
      background: #ff6b8c;
    }

    &.columns-data-legend-button-hundredthousands {
      background: #ff2e71;
    }
  }
}

.page-chart {
  &.active-cases-hundreds {
    .columns-data-connector-cases-hundreds {
      opacity: 1;
    }
    .columns-data-date-label-cases-hundreds {
      color: #ffd6db;
      opacity: 1;
    }
    .columns-grid-day-cases-hundreds {
      stroke: #ffd6db;
      opacity: 1;
    }
    .columns-data-legend-button-cases-hundreds {
      background-image: linear-gradient(135deg, #ff2e71 25%, transparent 25%, transparent 50%, #ff2e71 50%, #ff2e71 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-cases-thousands {
    .columns-data-connector-cases-thousands {
      opacity: 1;
    }
    .columns-data-date-label-cases-thousands {
      color: #ff93a7;
      opacity: 1;
    }
    .columns-grid-day-cases-thousands {
      stroke: #ff93a7;
      opacity: 1;
    }
    .columns-data-legend-button-cases-thousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-cases-tenthousands {
    .columns-data-connector-cases-tenthousands {
      opacity: 1;
    }
    .columns-data-date-label-cases-tenthousands {
      color: #ff6b8c;
      opacity: 1;
    }
    .columns-grid-day-cases-tenthousands {
      stroke: #ff6b8c;
      opacity: 1;
    }
    .columns-data-legend-button-cases-tenthousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-cases-hundredthousands {
    .columns-data-connector-cases-hundredthousands {
      opacity: 1;
    }
    .columns-data-date-label-cases-hundredthousands {
      color: #ff2e71;
      opacity: 1;
    }
    .columns-grid-day-cases-hundredthousands {
      stroke: #ff2e71;
      opacity: 1;
    }
    .columns-data-legend-button-cases-hundredthousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }


  &.active-activeCases-hundreds {
    .columns-data-connector-activeCases-hundreds {
      opacity: 1;
    }
    .columns-data-date-label-activeCases-hundreds {
      color: #ffd6db;
      opacity: 1;
    }
    .columns-grid-day-activeCases-hundreds {
      stroke: #ffd6db;
      opacity: 1;
    }
    .columns-data-legend-button-activeCases-hundreds {
      background-image: linear-gradient(135deg, #ff2e71 25%, transparent 25%, transparent 50%, #ff2e71 50%, #ff2e71 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-activeCases-thousands {
    .columns-data-connector-activeCases-thousands {
      opacity: 1;
    }
    .columns-data-date-label-activeCases-thousands {
      color: #ff93a7;
      opacity: 1;
    }
    .columns-grid-day-activeCases-thousands {
      stroke: #ff93a7;
      opacity: 1;
    }
    .columns-data-legend-button-activeCases-thousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-activeCases-tenthousands {
    .columns-data-connector-activeCases-tenthousands {
      opacity: 1;
    }
    .columns-data-date-label-activeCases-tenthousands {
      color: #ff6b8c;
      opacity: 1;
    }
    .columns-grid-day-activeCases-tenthousands {
      stroke: #ff6b8c;
      opacity: 1;
    }
    .columns-data-legend-button-activeCases-tenthousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-activeCases-hundredthousands {
    .columns-data-connector-activeCases-hundredthousands {
      opacity: 1;
    }
    .columns-data-date-label-activeCases-hundredthousands {
      color: #ff2e71;
      opacity: 1;
    }
    .columns-grid-day-activeCases-hundredthousands {
      stroke: #ff2e71;
      opacity: 1;
    }
    .columns-data-legend-button-activeCases-hundredthousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }


  &.active-newCases-hundreds {
    .columns-data-connector-newCases-hundreds {
      opacity: 1;
    }
    .columns-data-date-label-newCases-hundreds {
      color: #ffd6db;
      opacity: 1;
    }
    .columns-grid-day-newCases-hundreds {
      stroke: #ffd6db;
      opacity: 1;
    }
    .columns-data-legend-button-newCases-hundreds {
      background-image: linear-gradient(135deg, #ff2e71 25%, transparent 25%, transparent 50%, #ff2e71 50%, #ff2e71 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-newCases-thousands {
    .columns-data-connector-newCases-thousands {
      opacity: 1;
    }
    .columns-data-date-label-newCases-thousands {
      color: #ff93a7;
      opacity: 1;
    }
    .columns-grid-day-newCases-thousands {
      stroke: #ff93a7;
      opacity: 1;
    }
    .columns-data-legend-button-newCases-thousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-newCases-tenthousands {
    .columns-data-connector-newCases-tenthousands {
      opacity: 1;
    }
    .columns-data-date-label-newCases-tenthousands {
      color: #ff6b8c;
      opacity: 1;
    }
    .columns-grid-day-newCases-tenthousands {
      stroke: #ff6b8c;
      opacity: 1;
    }
    .columns-data-legend-button-newCases-tenthousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-newCases-hundredthousands {
    .columns-data-connector-newCases-hundredthousands {
      opacity: 1;
    }
    .columns-data-date-label-newCases-hundredthousands {
      color: #ff2e71;
      opacity: 1;
    }
    .columns-grid-day-newCases-hundredthousands {
      stroke: #ff2e71;
      opacity: 1;
    }
    .columns-data-legend-button-newCases-hundredthousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }


  &.active-deaths-hundreds {
    .columns-data-connector-deaths-hundreds {
      opacity: 1;
    }
    .columns-data-date-label-deaths-hundreds {
      color: #797071;
      opacity: 1;
    }
    .columns-grid-day-deaths-hundreds {
      stroke: #797071;
      opacity: 1;
    }
    .columns-data-legend-button-deaths-hundreds {
      background-image: linear-gradient(135deg, #ff2e71 25%, transparent 25%, transparent 50%, #ff2e71 50%, #ff2e71 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-deaths-thousands {
    .columns-data-connector-deaths-thousands {
      opacity: 1;
    }
    .columns-data-date-label-deaths-thousands {
      color: #ff93a7;
      opacity: 1;
    }
    .columns-grid-day-deaths-thousands {
      stroke: #ff93a7;
      opacity: 1;
    }
    .columns-data-legend-button-deaths-thousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-deaths-tenthousands {
    .columns-data-connector-deaths-tenthousands {
      opacity: 1;
    }
    .columns-data-date-label-deaths-tenthousands {
      color: #ff6b8c;
      opacity: 1;
    }
    .columns-grid-day-deaths-tenthousands {
      stroke: #ff6b8c;
      opacity: 1;
    }
    .columns-data-legend-button-deaths-tenthousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-deaths-hundredthousands {
    .columns-data-connector-deaths-hundredthousands {
      opacity: 1;
    }
    .columns-data-date-label-deaths-hundredthousands {
      color: #ff2e71;
      opacity: 1;
    }
    .columns-grid-day-deaths-hundredthousands {
      stroke: #ff2e71;
      opacity: 1;
    }
    .columns-data-legend-button-deaths-hundredthousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }


  &.active-hospital-hundreds {
    .columns-data-connector-hospital-hundreds {
      opacity: 1;
    }
    .columns-data-date-label-hospital-hundreds {
      color: #ffd6db;
      opacity: 1;
    }
    .columns-grid-day-hospital-hundreds {
      stroke: #ffd6db;
      opacity: 1;
    }
    .columns-data-legend-button-hospital-hundreds {
      background-image: linear-gradient(135deg, #ff2e71 25%, transparent 25%, transparent 50%, #ff2e71 50%, #ff2e71 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-hospital-thousands {
    .columns-data-connector-hospital-thousands {
      opacity: 1;
    }
    .columns-data-date-label-hospital-thousands {
      color: #ff93a7;
      opacity: 1;
    }
    .columns-grid-day-hospital-thousands {
      stroke: #ff93a7;
      opacity: 1;
    }
    .columns-data-legend-button-hospital-thousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-hospital-tenthousands {
    .columns-data-connector-hospital-tenthousands {
      opacity: 1;
    }
    .columns-data-date-label-hospital-tenthousands {
      color: #ff6b8c;
      opacity: 1;
    }
    .columns-grid-day-hospital-tenthousands {
      stroke: #ff6b8c;
      opacity: 1;
    }
    .columns-data-legend-button-hospital-tenthousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-hospital-hundredthousands {
    .columns-data-connector-hospital-hundredthousands {
      opacity: 1;
    }
    .columns-data-date-label-hospital-hundredthousands {
      color: #ff2e71;
      opacity: 1;
    }
    .columns-grid-day-hospital-hundredthousands {
      stroke: #ff2e71;
      opacity: 1;
    }
    .columns-data-legend-button-hospital-hundredthousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-icu-hundreds {
    .columns-data-connector-icu-hundreds {
      opacity: 1;
    }
    .columns-data-date-label-icu-hundreds {
      color: #ffd6db;
      opacity: 1;
    }
    .columns-grid-day-icu-hundreds {
      stroke: #ffd6db;
      opacity: 1;
    }
    .columns-data-legend-button-icu-hundreds {
      background-image: linear-gradient(135deg, #ff2e71 25%, transparent 25%, transparent 50%, #ff2e71 50%, #ff2e71 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-icu-thousands {
    .columns-data-connector-icu-thousands {
      opacity: 1;
    }
    .columns-data-date-label-icu-thousands {
      color: #796f71;
      opacity: 1;
    }
    .columns-grid-day-icu-thousands {
      stroke: #ff6b8c;
      opacity: 1;
    }
    .columns-data-legend-button-icu-thousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-icu-tenthousands {
    .columns-data-connector-icu-tenthousands {
      opacity: 1;
    }
    .columns-data-date-label-icu-tenthousands {
      color: #ff6b8c;
      opacity: 1;
    }
    .columns-grid-day-icu-tenthousands {
      stroke: #ff6b8c;
      opacity: 1;
    }
    .columns-data-legend-button-icu-tenthousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }

  &.active-icu-hundredthousands {
    .columns-data-connector-icu-hundredthousands {
      opacity: 1;
    }
    .columns-data-date-label-icu-hundredthousands {
      color: #ff2e71;
      opacity: 1;
    }
    .columns-grid-day-icu-hundredthousands {
      stroke: #ff2e71;
      opacity: 1;
    }
    .columns-data-legend-button-icu-hundredthousands {
      background-image: linear-gradient(135deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent 100%);
      background-size: 5.66px 5.66px;
    }
  }
}