#comparisonChart {

  svg {

    g.series {
      path {
        stroke-width: 3;
      }

      &#lombardia {
        path {
          stroke: $chart_0;
        }
        text {
          fill: $chart_0;
        }
      }
      &#hubei {
        path {
          stroke: $chart_1;
        }
        text {
          fill: $chart_1;
        }
      }
      &#daegu {
        path {
          stroke: $chart_3;
        }
        text {
          fill: $chart_3;
        }
      }

    }
  }

}
