#dayComparison {
  #dayComparison-chart-container {
    display: block;
    padding-top: 100px;
    position: relative;

    @media screen and (min-width: 768px) {
      padding-top: 60px;
    }
  }

  .dayComparison-day-line {
    stroke: #fff;
    stroke-dasharray: 1 4;
    stroke-width: 1px;
  }

  .dayComparison-number {
    fill: #fff;
    font-size: 10px;
    font-weight: 200;
  }

  .dayComparison-arrow-body {
    stroke: #fff;
    stroke-dasharray: 1 1;
    stroke-width: 1px;
  }

  .dayComparison-arrow-arm {
    stroke: #fff;
    stroke-width: 1px;
  }

  .dayComparison-point-legend {
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: 200;
    position: absolute;
    text-transform: uppercase;
    transform: translate3d(calc(-100% - 10px), -50%, 0);
  }



  .dayComparison-point-label {
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: 200;
    opacity: 0;
    position: absolute;
    transform: translate3d(10px, -50%, 0);
    transition: opacity .5s ease-in-out;

    @media screen and (min-width: 768px) {
      font-size: 12px;
    }

    &:before {
      content: '←';
    }
  }

  .dayComparison-point {
    fill: #fff;
    mix-blend-mode: multiply;
    opacity: .85;
  }

  .dayComparison-labels {
    color: #fff;
    display: block;
    font-size: 11px;
    position: absolute;
    transform: rotate(-90deg) translate3d(-80px, 0, 0);
    transform-origin: left center;

    @media screen and (min-width: 768px) {
      font-size: 12px;
      text-align: center;
      transform: rotate(0) translate3d(-50%, 0, 0);
    }
  }

  .dayComparison-event {
    font-weight: 400;
    text-transform: uppercase;
  }

  .dayComparison-date {
    font-weight: 200;
  }

  .dayComparison-tests {
    font-weight: 200;
    text-transform: capitalize;
  }

  .dayComparison-connector {
    fill: none;
    opacity: .5;
    stroke: #fff;
    stroke-dasharray: 4 4 2 4;
    stroke-width: 1;
  }
}