.heatmap-wrapper {
  display: flex;
  // display: block;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;

  .heatmap-day {
    background: rgba(234, 0 , 0 , .3);
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    flex: 0 0 auto;
    height: 20px;
  }
}