.peopleTested {
  .peopleTested-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 0 auto 20px auto;
    position: relative;
    width: 100%;

    h3 {
      bottom: 0;
      font-size: 12px;
      font-weight: 400;
      left: 50%;
      line-height: 1;
      margin: 0;
      padding: 0;
      position: absolute;
      text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
      text-transform: uppercase;
      transform: translate3d(-50%, 0, 0);
      white-space: nowrap;
      z-index: 5;

      @media screen and (min-width:768px) {
        font-size: 14px;
      }
  
      @media screen and (min-width:1200px) {
        font-size: 16px;
      }
    }
  }

  .peopleTested-region {
    display: block;
    flex: 0 0 33.33%;
    height: 80px;
    left: 0;
    // position: absolute;
    top:0;

    @media screen and (min-width:768px) {
      height: 120px;
    }

    @media screen and (min-width:1200px) {
      height: 190px;
    }
  }

  .peopleTested-chart {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;

    &:hover {
      .peopleTested-chart-base {
        border-color: #eee;
        box-shadow: 0 0 15px 0 rgba(238, 238, 238, .15);
      }
    }

    .peopleTested-chart-tests,
    .peopleTested-chart-people,
    .peopleTested-chart-base {
      background: rgba(255, 46, 113, .15);
      border: 1px solid rgba(238, 238, 238, .175);
      border-radius: 50%;
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 1;
    }

    .peopleTested-chart-people {
      background: #ff2e71;
      border: none;
      z-index: 3;
    }

    .peopleTested-chart-tests {
      background: #ffd6db;
      border: none;
      z-index: 2;
    }
  }

  .peopleTested-filters {
    margin-bottom: 10px;
    text-align: center;

    .peopleTested-show,
    .peopleTested-sort {
      font-size: 16px;
      font-weight: 200;
      text-align: center;
    }

    .peopleTested-switch {
      display: inline-block;
      margin: 0 auto 10px auto;

      label {
        font-size: 12px;
        font-weight: 200;
        letter-spacing: .05em;
        text-transform: uppercase;
      }

      input[type="checkbox"] {
        display: none;

        & + i {
          background: #ff2e71;
          border-radius: 10px;
          content: '';
          display: block;
          height: 20px;
          position: absolute;
          right: 0;
          top: 0;
          width: 20px;
        }

        &:checked + i {
          left: 0;
          right: auto;
        }
      }

      span {
        background: rgba(238, 238, 238, .175);
        border-radius: 10px;
        display: inline-block;
        height: 20px;
        margin: 0 5px;
        position: relative;
        vertical-align: middle;
        width: 40px;
      }
    }
  }

  .tooltip {
    width: 240px;

    @media screen and (min-width:768px) {
      width: 260px;
    }

    @media screen and (min-width:1200px) {
      width: 300px;
    }

    h2 {
      margin: 0 0 20px 0;
      font-weight: 200;
      padding: 0;
      text-transform: uppercase;
    }

    dl, dt, dd {
      margin: 0;
      padding: 0;
    }

    dl {
      display: flex;
      flex-wrap: wrap;
    }

    dt, dd {
      flex: 0 0 50%;
      max-width: 50%;
      padding-bottom: 10px;
    }

    dt {
      font-size: 10px;
      padding-right: 5px;
      text-transform: uppercase;

      @media screen and (min-width:768px) {
        font-size: 12px;
      }
  
      @media screen and (min-width:1200px) {
        font-size: 14px;
      }
    }

    dd {
      font-weight: 900;
      letter-spacing: .05em;
      padding-left: 5px;
      text-align: right;

      span {
        font-weight: 400;
      }
    }
  }
}