.peopleTested {
  .peopleTested-wrapper {
    display: block;
    height: 530px;
    margin: 0 auto;
    position: relative;
    width: 300px;

    @media screen and (min-width:768px) {
      height: 750px;
      width: 495px;
    }

    @media screen and (min-width:1200px) {
      height: 1230px;
      width: 900px;
    }

    &.peopleTested-absolute {
      background: yellowgreen;
      height: 530px;
      width: 300px;

      @media screen and (min-width:768px) {
        height: 750px;
        width: 495px;
      }
  
      @media screen and (min-width:1200px) {
        height: 1230px;
        width: 900px;
      }

    }
  }

  .peopleTested-region {
    display: block;
    height: 60px;
    left: 0;
    position: absolute;
    top:0;
    width: 60px;

    @media screen and (min-width:768px) {
      height: 90px;
      width: 90px;
    }

    @media screen and (min-width:1200px) {
      height: 150px;
      width: 150px;
    }
  }

  .peopleTested-chart {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;

    .peopleTested-chart-tests,
    .peopleTested-chart-people,
    .peopleTested-chart-base {
      border: 1px solid #eee;
      border-radius: 50%;
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 1;
    }

    .peopleTested-chart-people {
      background: #ff2e71;
      border: none;
      z-index: 3;
    }

    .peopleTested-chart-tests {
      background: #ffd6db;
      border: none;
      z-index: 2;
    }
  }

  .peopleTested-weighted {
    #peopleTested-region-valle-d-aosta {
      //background: aliceblue;
      left: 0;
      top: 60px;

      @media screen and (min-width:768px) {
        top: 90px;
      }

      @media screen and (min-width:1200px) {
        top: 150px;
      }
    }
    #peopleTested-region-piemonte {
      //background: purple;
      left: 30px;
      top: 120px;

      @media screen and (min-width:768px) {
        left: 45px;
        top: 180px;
      }

      @media screen and (min-width:1200px) {
        left: 75px;
        top: 300px;
      }
    }
    #peopleTested-region-liguria {
      //background: crimson;
      left: 30px;
      top: 180px;

      @media screen and (min-width:768px) {
        left: 45px;
        top: 270px;
      }

      @media screen and (min-width:1200px) {
        left: 75px;
        top: 450px;
      }
    }
    #peopleTested-region-lombardia {
      //background: plum;
      left: 90px;
      top: 120px;

      @media screen and (min-width:768px) {
        left: 135px;
        top: 180px;
      }

      @media screen and (min-width:1200px) {
        left: 225px;
        top: 300px;
      }
    }
    #peopleTested-region-veneto {
      //background: fuchsia;
      left: 150px;
      top: 120px;

      @media screen and (min-width:768px) {
        left: 225px;
        top: 180px;
      }

      @media screen and (min-width:1200px) {
        left: 375px;
        top: 300px;
      }
    }
    #peopleTested-region-friuli-venezia-giulia {
      //background: greenyellow;
      left: 210px;
      top: 120px;

      @media screen and (min-width:768px) {
        left: 315px;
        top: 180px;
      }

      @media screen and (min-width:1200px) {
        left: 525px;
        top: 300px;
      }
    }
    #peopleTested-region-trento {
      //background: hotpink;
      left: 150px;
      top: 60px;

      @media screen and (min-width:768px) {
        left: 225px;
        top: 90px;
      }

      @media screen and (min-width:1200px) {
        left: 375px;
        top: 150px;
      }
    }
    #peopleTested-region-bolzano {
      //background: indianred;
      left: 150px;

      @media screen and (min-width:768px) {
        left: 225px;
      }

      @media screen and (min-width:1200px) {
        left: 375px;
        top: 0;
      }
    }
    #peopleTested-region-emilia-romagna {
      //background: khaki;
      left: 90px;
      top: 180px;

      @media screen and (min-width:768px) {
        left: 135px;
        top: 270px;
      }

      @media screen and (min-width:1200px) {
        left: 225px;
        top: 450px;
      }
    }
    #peopleTested-region-toscana {
      //background: lavenderblush;
      left: 60px;
      top: 240px;

      @media screen and (min-width:768px) {
        left: 90px;
        top: 360px;
      }

      @media screen and (min-width:1200px) {
        left: 225px;
        top: 600px;
      }
    }
    #peopleTested-region-marche {
      //background: mediumaquamarine;
      left: 180px;
      top: 240px;

      @media screen and (min-width:768px) {
        left: 270px;
        top: 360px;
      }

      @media screen and (min-width:1200px) {
        left: 525px;
        top: 600px;
      }
    }
    #peopleTested-region-umbria {
      //background: navajowhite;
      left: 120px;
      top: 240px;

      @media screen and (min-width:768px) {
        left: 180px;
        top: 360px;
      }

      @media screen and (min-width:1200px) {
        left: 375px;
        top: 600px;
      }
    }
    #peopleTested-region-lazio {
      //background: olivedrab;
      left: 120px;
      top: 300px;

      @media screen and (min-width:768px) {
        left: 225px;
        top: 450px;
      }

      @media screen and (min-width:1200px) {
        left: 450px;
        top: 750px;
      }
    }
    #peopleTested-region-abruzzo {
      //background: papayawhip;
      left: 180px;
      top: 300px;

      @media screen and (min-width:768px) {
        left: 315px;
        top: 450px;
      }

      @media screen and (min-width:1200px) {
        left: 600px;
        top: 750px;
      }
    }
    #peopleTested-region-molise {
      //background: rosybrown;
      left: 210px;
      top: 360px;

      @media screen and (min-width:768px) {
        left: 360px;
        top: 540px;
      }

      @media screen and (min-width:1200px) {
        left: 675px;
        top: 900px;
      }
    }
    #peopleTested-region-puglia {
      //background: seashell;
      left: 240px;
      top: 420px;

      @media screen and (min-width:768px) {
        left: 405px;
        top: 630px;
      }

      @media screen and (min-width:1200px) {
        left: 750px;
        top: 1050px;
      }
    }
    #peopleTested-region-campania {
      //background: teal;
      left: 150px;
      top: 360px;

      @media screen and (min-width:768px) {
        left: 270px;
        top: 540px;
      }

      @media screen and (min-width:1200px) {
        left: 525px;
        top: 900px;
      }
    }
    #peopleTested-region-basilicata {
      //background: violet;
      left: 180px;
      top: 420px;

      @media screen and (min-width:768px) {
        left: 315px;
        top: 630px;
      }

      @media screen and (min-width:1200px) {
        left: 600px;
        top: 1050px;
      }
    }
    #peopleTested-region-calabria {
      //background: violet;
      left: 120px;
      top: 450px;

      @media screen and (min-width:768px) {
        left: 225px;
        top: 630px;
      }

      @media screen and (min-width:1200px) {
        left: 450px;
        top: 1050px;
      }
    }
    #peopleTested-region-sicilia {
      //background: violet;
      left: 50px;
      top: 450px;

      @media screen and (min-width:768px) {
        left: 75px;
        top: 630px;
      }

      @media screen and (min-width:1200px) {
        left: 200px;
        top: 1050px;
      }
    }
    #peopleTested-region-sardegna {
      //background: violet;
      left: 10px;
      top: 320px;

      @media screen and (min-width:768px) {
        left: 20px;
        top: 500px;
      }

      @media screen and (min-width:1200px) {
        left: 60px;
        top: 800px;
      }
    }
  }



  .peopleTested-absolute {

    .peopleTested-region {
      display: block;
      height: 110px;
      left: 0;
      position: absolute;
      top:0;
      width: 110px;
  
      @media screen and (min-width:768px) {
        height: 140px;
        width: 140px;
      }
  
      @media screen and (min-width:1200px) {
        height: 200px;
        width: 200px;
      }
    }
    #peopleTested-region-valle-d-aosta {
      //background: aliceblue;
      left: 0;
      top: 60px;

      @media screen and (min-width:768px) {
        top: 90px;
      }

      @media screen and (min-width:1200px) {
        top: 150px;
      }
    }
    #peopleTested-region-piemonte {
      //background: purple;
      left: 30px;
      top: 120px;

      @media screen and (min-width:768px) {
        left: 45px;
        top: 180px;
      }

      @media screen and (min-width:1200px) {
        left: 75px;
        top: 300px;
      }
    }
    #peopleTested-region-liguria {
      //background: crimson;
      left: 30px;
      top: 180px;

      @media screen and (min-width:768px) {
        left: 45px;
        top: 270px;
      }

      @media screen and (min-width:1200px) {
        left: 75px;
        top: 450px;
      }
    }
    #peopleTested-region-lombardia {
      //background: plum;
      left: 90px;
      top: 120px;

      @media screen and (min-width:768px) {
        left: 135px;
        top: 180px;
      }

      @media screen and (min-width:1200px) {
        left: 225px;
        top: 300px;
      }
    }
    #peopleTested-region-veneto {
      //background: fuchsia;
      left: 150px;
      top: 120px;

      @media screen and (min-width:768px) {
        left: 225px;
        top: 180px;
      }

      @media screen and (min-width:1200px) {
        left: 375px;
        top: 300px;
      }
    }
    #peopleTested-region-friuli-venezia-giulia {
      //background: greenyellow;
      left: 210px;
      top: 120px;

      @media screen and (min-width:768px) {
        left: 315px;
        top: 180px;
      }

      @media screen and (min-width:1200px) {
        left: 525px;
        top: 300px;
      }
    }
    #peopleTested-region-trento {
      //background: hotpink;
      left: 150px;
      top: 60px;

      @media screen and (min-width:768px) {
        left: 225px;
        top: 90px;
      }

      @media screen and (min-width:1200px) {
        left: 375px;
        top: 150px;
      }
    }
    #peopleTested-region-bolzano {
      //background: indianred;
      left: 150px;

      @media screen and (min-width:768px) {
        left: 225px;
      }

      @media screen and (min-width:1200px) {
        left: 375px;
        top: 0;
      }
    }
    #peopleTested-region-emilia-romagna {
      //background: khaki;
      left: 90px;
      top: 180px;

      @media screen and (min-width:768px) {
        left: 135px;
        top: 270px;
      }

      @media screen and (min-width:1200px) {
        left: 225px;
        top: 450px;
      }
    }
    #peopleTested-region-toscana {
      //background: lavenderblush;
      left: 60px;
      top: 240px;

      @media screen and (min-width:768px) {
        left: 90px;
        top: 360px;
      }

      @media screen and (min-width:1200px) {
        left: 225px;
        top: 600px;
      }
    }
    #peopleTested-region-marche {
      //background: mediumaquamarine;
      left: 180px;
      top: 240px;

      @media screen and (min-width:768px) {
        left: 270px;
        top: 360px;
      }

      @media screen and (min-width:1200px) {
        left: 525px;
        top: 600px;
      }
    }
    #peopleTested-region-umbria {
      //background: navajowhite;
      left: 120px;
      top: 240px;

      @media screen and (min-width:768px) {
        left: 180px;
        top: 360px;
      }

      @media screen and (min-width:1200px) {
        left: 375px;
        top: 600px;
      }
    }
    #peopleTested-region-lazio {
      //background: olivedrab;
      left: 120px;
      top: 300px;

      @media screen and (min-width:768px) {
        left: 225px;
        top: 450px;
      }

      @media screen and (min-width:1200px) {
        left: 450px;
        top: 750px;
      }
    }
    #peopleTested-region-abruzzo {
      //background: papayawhip;
      left: 180px;
      top: 300px;

      @media screen and (min-width:768px) {
        left: 315px;
        top: 450px;
      }

      @media screen and (min-width:1200px) {
        left: 600px;
        top: 750px;
      }
    }
    #peopleTested-region-molise {
      //background: rosybrown;
      left: 210px;
      top: 360px;

      @media screen and (min-width:768px) {
        left: 360px;
        top: 540px;
      }

      @media screen and (min-width:1200px) {
        left: 675px;
        top: 900px;
      }
    }
    #peopleTested-region-puglia {
      //background: seashell;
      left: 240px;
      top: 420px;

      @media screen and (min-width:768px) {
        left: 405px;
        top: 630px;
      }

      @media screen and (min-width:1200px) {
        left: 750px;
        top: 1050px;
      }
    }
    #peopleTested-region-campania {
      //background: teal;
      left: 150px;
      top: 360px;

      @media screen and (min-width:768px) {
        left: 270px;
        top: 540px;
      }

      @media screen and (min-width:1200px) {
        left: 525px;
        top: 900px;
      }
    }
    #peopleTested-region-basilicata {
      //background: violet;
      left: 180px;
      top: 420px;

      @media screen and (min-width:768px) {
        left: 315px;
        top: 630px;
      }

      @media screen and (min-width:1200px) {
        left: 600px;
        top: 1050px;
      }
    }
    #peopleTested-region-calabria {
      //background: violet;
      left: 120px;
      top: 450px;

      @media screen and (min-width:768px) {
        left: 225px;
        top: 630px;
      }

      @media screen and (min-width:1200px) {
        left: 450px;
        top: 1050px;
      }
    }
    #peopleTested-region-sicilia {
      //background: violet;
      left: 50px;
      top: 450px;

      @media screen and (min-width:768px) {
        left: 75px;
        top: 630px;
      }

      @media screen and (min-width:1200px) {
        left: 200px;
        top: 1050px;
      }
    }
    #peopleTested-region-sardegna {
      //background: violet;
      left: 10px;
      top: 320px;

      @media screen and (min-width:768px) {
        left: 20px;
        top: 500px;
      }

      @media screen and (min-width:1200px) {
        left: 60px;
        top: 800px;
      }
    }
  }
}