#provincesMap {
  svg {
    .map-legend {
      text {
        font-family: 'Exo 2', sans-serif;
        font-size: 12px;
        font-weight: 200;
        stroke: none;
        fill: #eee;
      }
    }
  }
}
