#provincesMap {
  >div {
    width: 100%;
    margin: 0 auto;
  }
  @media screen and (min-width:768px) {
    >div {
      width: 80%;
    }
  }
  @media screen and (min-width:1024px) {
    >div {
      width: 70%;
    }
  }
  svg {
    .map-legend {
      text {
        font-family: 'Exo 2', sans-serif;
        font-size: 12px;
        font-weight: 200;
        stroke: none;
        fill: #eee;
      }
    }
  }
}
