#regionsComparison {
  display: block;



  .regions-show-more {
    text-align: center;
  }
}

  .region-container-wrapper {
    display: block;
  
    @media screen and (min-width:768px) {
      display: flex;
      flex-flow: wrap;
    }

    &.is-hidden {
      height: 0;
      overflow: auto;
    }
  }

  .region-container {
    display: block;
    margin-bottom: 20px;
    width: 100%;

    @media screen and (min-width:768px) {
      flex: 0 0 calc(33% - 60px);
      margin: 0 30px 20px 30px;
      max-width: calc(33% - 60px);
    }

    h3 {
      font-size: 16px;
      font-weight: 200;
      margin: 0;
      text-align: center;
      text-transform: uppercase;

      @media screen and (min-width: 768px) {
          font-size: 22px;
      }
    }

    svg {
      background: #222;

      g.series {
        path {
          stroke-width: 2;
          fill: none;
          stroke-linejoin: round;
          stroke-linecap: round;
          stroke: $chart_0;

          &.area {
            stroke: none;
            fill: $chart_0;
            fill-opacity: 0.2;
          }
        }


        text {
          fill: $chart_0;
        }

        &#italy {
          path {
            stroke: $chart_3;
          }
          text {
            fill: $chart_3;
          }
        }

        &.comparison-series {
          path {
            stroke-width: 1;
            stroke-dasharray: 1 4;

            &.area {
              display: none;
            }
          }
        }
      }

    }
  }

  .regions-map {
    position: relative;
    width: 0%;
    margin: 0 auto;

    display: flex;
    flex-flow: wrap;
    // flex-flow: row;
    justify-content: space-around;

    @media screen and (min-width:512px) {
      width: 50%;
    }

    .region-container {
      flex: 1 0 20%;
      width: 20%;
      height:auto;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      //width: 100px; // (100% / 5);
      //height: 100px;
      border-top: 1px solid #222;
      border-left: 1px solid #222;
      position: relative;
      margin: 0 !important;
      line-height: 0;

      // &[data-region="none"] {
      //   border: 1px solid transparent;
      // }

      &:before {
          content:'';
          float:left;
          padding-top:100%;
      }

      svg {
        background-color: #555;
      }

    }
  }
