.regionsJoyPlot {

  .regionsJoyPlot-map {
    display: block;
    height: 200px;
    margin: 60px auto 0 auto;
    position: relative;
  }

  .regionsJoyPlot-charts,
  .regionsJoyPlot-names {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
  }

  .regionsJoyPlot-charts {
    display: flex;
    flex-wrap: nowrap;
    left: 100px;
    right: 0;
    width: auto;
  }

  .regionsJoyPlot-region-name {
    bottom: 0;
    color: #fff;
    left: 0;
    line-height: 20px;
    order: 0;
    padding-right: 10px;
    position: absolute;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
    width: auto;

    h3 {
      font-size: 10px;
      font-weight: 200;
      margin: 0;
      text-align: right;

      @media screen and (min-width: 768px) {
        font-size: 12px;
      }

      @media screen and (min-width: 1024px) {
        font-size: 14px;
      }
    }
  }

  .regionsJoyPlot-indicator {
    display: block;
    flex: 0 0 calc(20% - 10px);
    margin-right: 10px;
    position: relative;
  }

  .regionsJoyPlot-region {
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    transform: translate3d(0, 0, 0);
    width: auto;
    z-index: 999;
  }

  .highlighted .regionsJoyPlot-region-name {
    color: #ff2e71;
  }

  .regionsJoyPlot-region-sparkline-container {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .regionsJoyPlot-region-sparkline {
    bottom: 5px;
    display: block;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .regionsJoyPlot-line {
    fill: none;
    stroke: #eee;
    stroke-width: 1;
  }

  .regionsJoyPlot-fill {
    fill: rgba(255, 255, 255, .075);
    stroke: none;
  }

  .highlighted .regionsJoyPlot-line {
    stroke: #ff2e71;
  }

  .highlighted .regionsJoyPlot-fill {
    fill: rgba(255, 46, 113, .15);
  }


  /* v2 */

  .regionsJoyPlot-container {
    overflow: auto;
    padding-left: 100px;
  }

  .regionsJoyPlot-map {
    display: flex;
    flex-wrap: nowrap;

    h3 {
      font-size: 16px;
      font-weight: 200;
      height: 16px;
      line-height: 16px;
      margin: 0;
      padding: 0 10px;
      text-align: left;
      text-transform: uppercase;

      @media screen and (min-width: 768px) {
          font-size: 18px;
          height: 18px;
          line-height: 18px;
      }
    }

    .regionsJoyPlot-region-name-2 {
      flex: 0 0 200px;

      @media screen and (min-width: 768px) {
        flex-basis: 300px;
      }
    }

    .regionsJoyPlot-region-2 {
      display: block;
      height: 30px;
      margin: 0 auto;
      width: calc(100% - 20px);
    }

    .regionsJoyPlot-region-sparkline-container-2 {
      display: block;
      height: 100%;
      position: relative;
      width: 100%;
    }
  
    .regionsJoyPlot-region-sparkline-2 {
      bottom: 5px;
      display: block;
      height: 100px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .regionsJoyPlot-indicators-names {
    bottom: 0;
    display: block;
    left: 0;
    padding-top: 16px;
    position: absolute;
    top: 88px;
    width: 100px;
    z-index: 9;

    @media screen and (min-width: 768px) {
      padding-top: 18px;
    }

    .regionsJoyPlot-indicator-name {
      height: 30px;
      line-height: 30px;
      text-align: right;

      h4 {
        display: block;
        font-size: 10px;
        font-weight: 200;
        margin: 0;
        padding: 0 20px;
        text-shadow: 3px 0 0 #222,
          0 3px 0 #222,
          -3px 0 #222,
          0 -3px 0 #222,
          3px 3px 0 #222,
          -3px -3px 0 #222,
          3px -3px 0 #222,
          -3px 3px 0 #222;
        text-transform: uppercase;
      }
    }
  }
}