#regionsComparison {
  display: flex;
  flex-flow: wrap;

  .region-container {
    //flex: 0 0 calc(33% - 20px);
    flex: 0 0 calc(100% - 20px);
    margin: 10px;

    svg {
      background: #222;

      g.series {
        path {
          stroke-width: 3;
          fill: none;
          stroke-linejoin: round;
          stroke-linecap: round;
          stroke: $chart_2;
        }

        &#lombardia {
          stroke: $chart_0;
        }
        &#hubei {
          stroke: $chart_1;
        }
        &#daegu {
          stroke: $chart_3;
        }

      }

    }
  }
}
