.regionsJoyPlot {

  .regionsJoyPlot-map {
    display: block;
    height: 440px;
    margin: 60px auto 0 auto;
    position: relative;
    width: 100%;
  }

  .regionsJoyPlot-charts,
  .regionsJoyPlot-names {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
  }

  .regionsJoyPlot-charts {
    display: flex;
    flex-wrap: nowrap;
    left: 100px;
    right: 0;
    width: auto;
  }

  .regionsJoyPlot-region-name {
    bottom: 0;
    color: #fff;
    left: 0;
    line-height: 20px;
    order: 0;
    padding-right: 10px;
    position: absolute;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
    width: auto;

    h3 {
      font-size: 10px;
      font-weight: 200;
      margin: 0;
      text-align: right;

      @media screen and (min-width: 768px) {
        font-size: 12px;
      }

      @media screen and (min-width: 1024px) {
        font-size: 14px;
      }
    }
  }

  .regionsJoyPlot-indicator {
    display: block;
    flex: 0 0 calc(20% - 10px);
    margin-right: 10px;
    position: relative;
  }

  .regionsJoyPlot-region {
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    transform: translate3d(0, 0, 0);
    width: auto;
    z-index: 999;
  }

  .highlighted .regionsJoyPlot-region-name {
    color: #ff2e71;
  }

  .regionsJoyPlot-region-sparkline-container {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .regionsJoyPlot-region-sparkline {
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    bottom: 5px;
    display: block;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .highlighted .regionsJoyPlot-region-sparkline {
    border-bottom: 1px solid #ff2e71;
  }

  .regionsJoyPlot-line {
    fill: none;
    stroke: #eee;
    stroke-width: 1;
  }

  .regionsJoyPlot-fill {
    fill: rgba(51, 51, 51, .75);
    stroke: none;
  }

  .highlighted .regionsJoyPlot-line {
    stroke: #ff2e71;
  }

  .highlighted .regionsJoyPlot-fill {
    fill: rgba(255, 46, 113, .25);
  }
}