.spacer-chart-container {
  display: block;
  height: 10vh;
  max-height: 80px;
  mix-blend-mode: screen;
  position: relative;
  width: 100%;

  .spacer-chart-area {
    fill: rgba(255, 46, 113, 0.5);
    stroke: none;

    &.spacer-chart-area-recovered {
      fill: rgba(96, 186, 174, .5);
    }

  }

  .spacer-chart-label {
    bottom: 0;
    color: #eee;
    display: block;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.25;
    max-width: 30vw;
    padding-right: 18px;
    position: absolute;
    right: 5px;
    text-align: right;
    text-shadow: 0 0 2px #222;
    text-transform: uppercase;
    
    @media screen and (min-width:768px) {
      font-size: 12px;
    }

    span {
      text-transform: capitalize;
    }
    
    &:after {
        content: '↗︎';
        display: block;
        font-size: 14px;
        height: 18px;
        line-height: 18px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        width: 18px;
    }
}
}