.spacer-chart-container {
  display: block;
  height: 10vh;
  max-height: 80px;
  mix-blend-mode: screen;
  position: relative;
  width: 100%;

  .spacer-chart-area {
    fill: red;
    opacity: .5;
    stroke: none;

    &.spacer-chart-area-recovered {
      fill: #60BAAE;
    }

    &.spacer-chart-area-death {
      fill: #574144;
    }

    &.spacer-chart-area-hospital {
      fill: #70000C;
    }

    &.spacer-chart-area-quarantined {
      fill: #8C8D00;
    }

    &.spacer-chart-area-total {
      fill: #BFA5A8;
    }
  }

  .spacer-chart-label {
    color: #eee;
    display: block;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    max-width: 30vw;
    padding-right: 15px;
    position: absolute;
    right: 10px;
    text-align: right;
    text-shadow: 0 0 2px #222;
    text-transform: uppercase;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    span {
      text-transform: capitalize;
    }
    
    &:after {
        content: '→';
        display: block;
        height: 16px;
        line-height: 16px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        width: 10px;
    }
}
}