.testsvsnewcases-chart-container {
  display: block;
  height: auto;
  padding-top: 30px;
  position: relative;
  width: 100%;

  .chart-container {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
  }

  .testsvsnewcases-chart-container-chart {
    text {
      text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
    }
    
    .bar-tests {
      fill: #60BAAE;
    }

    .bar-positives {
      fill: #fff;
    }

    .pattern-line {
      stroke: rgba(255, 255, 255, .75);
    }

    .line-percent {
      stroke: #ff2e71;
      stroke-width: 2;
    }

    .overall-percent-line {
      stroke: #fff;
      stroke-dasharray: 6 4;
      stroke-width: 2;
    }

    .overall-percent-label {
      fill: #fff;
      font-size: 12px;
      text-transform: uppercase;
    }

    .x-axis-label {
      font-size: 12px;
    }
  }

  .chart-annotation {
    font-size: 11px;
    left: 0;
    max-width: 150px;
    padding-left: 15px;
    position: absolute;
    text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
    top: 0;
    z-index: 99;

    strong {
      color: #ff2e71;
      font-weight: 700;
    }

    span {
      text-transform: uppercase;
    }

    &.chart-annotation-auto {
      transform: translate3d(0, -50%, 0);

      &:before {
        content: '←';
        display: inline-block;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
      }

      &.chart-annotation-right {
        &:before {
          content: '→';
          display: inline-block;
          right: 0;
          position: absolute;
          top: 50%;
          transform: translate3d(0, -50%, 0);
        }
      }
    }

    &.chart-annotation-right {
      padding-left: 0;
      padding-right: 15px;
    }

    &.chart-annotation-bottom {
      padding-left: 0;
      padding-top: 15px;

      &:before {
        content: '↑';
        display: inline-block;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate3d(-50%, 0, 0);
      }

      &.chart-annotation-right {
        padding-right: 0;
        padding-top: 15px;

        &:before {
          left: auto;
          right: 0;
          position: absolute;
          top: 0;
          transform: translate3d(50%, 0, 0);
        }
      }
    }

    &.chart-annotation-top {
      &:before {
        content: '←';
        display: inline-block;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate3d(0, -50%, 0);
      }

      &.chart-annotation-right {
        &:before {
          content: '→';
          display: inline-block;
          right: 0;
          position: absolute;
          top: 0;
          transform: translate3d(0, -50%, 0);
        }
      }
    }

    &.chart-annotation-globalRatio,
    &.chart-annotation-lastDay {
      &.chart-annotation-right {
        max-width: 110px;
        padding-left: 15px;
        padding-right: 0;
        text-align: left !important;
        transform: translate3d(100%, -100%, 0);

        &:before {
          content: '←';
          display: inline-block;
          bottom: 0;
          left: 0;
          position: absolute;
          top: auto;
          transform: translate3d(0, 50%, 0);
        }
      }
    }

    &.chart-annotation-globalRatio {
      &.chart-annotation-right {
        padding-bottom: 15px;
        transform: translate3d(100%, -100%, 0);

        &:before {
          content: '↓';
          display: inline-block;
          left: 15px;
          position: absolute;
          transform: none;
        }
      }
    }

    &.chart-annotation-maxPositives {
      &.chart-annotation-top {
        padding-bottom: 15px;
        padding-left: 0;
        top: 50% !important;
        transform: translate3d(0, -50%, 0);

        &:before {
          bottom: 0;
          content: '↓';
          display: inline-block;
          left: 0;
          top: auto;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    &.chart-annotation-schoolsOpen,
    &.chart-annotation-startLockdown,
    &.chart-annotation-endLockdown {
      display: none;
      
      @media screen and (min-width:768px) {
        display: block;
      }
    }
  }

  .regions-highlight {
    margin-top: 40px;
    .region-highlight-wrapper {
      display: block;
      margin-bottom: 40px;

    }

    @media screen and (min-width: 768px) {
      .regions-highlight-wrapper {
        display: flex;
        margin: 0 -20px;
      }

      .region-highlight-wrapper {
        flex: 0 0 33.33%;
        padding: 0 20px;
      }
    }

    h3 {
      font-size: 16px;
      font-weight: 200;
      line-height: 1;
      margin: 0 0 20px 0;
      min-height: 32px;
      padding: 0;
      text-align: left;
      text-transform: uppercase;
    }

    ol, li {
      font-size: 14px;
      font-weight: 200;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      text-transform: capitalize;
    }

    ol {
      margin-bottom: 20px;
    }

    li {
      &.highlight {
        color: #ff2e71;

        span {
          font-weight: 400;
        }
      }

      span {
        position: absolute;
        right: 0;
      }
    }

    p {
      font-size: 14px;
      font-weight: 200;
      margin: 0;

      span {
        &:after {
          content: ', ';
        }

        &:last-child:after {
          content: '.';
        }

        &:first-child:after {
          content: none;
        }
      }
    }

  }
}