.tested {
    .tested-title {
        font-size: 16px;
        font-weight: 200;
        margin: 0;
        text-align: center;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            font-size: 22px;
        }
    }

    .tested-wrapper {
        display: block;
        margin: 0 auto;
        max-width: 1600px;
        width: 100%;
    }

    .tested-column {
        margin: 0 auto;
        padding: 0 30px 40px 30px;
        width: 50%;

        @media screen and (min-width: 1024px) {
            width: 25%;
        }
    }

    .tested-number {
        color: #ff2e71;
        font-size: 36px;
        font-weight: 900;
        letter-spacing: .02rem;
        line-height: 1;
        margin: 10px 0;
        text-align: center;
        
        @media screen and (min-width: 768px) {
            font-size: 42px;
        }
        
        @media screen and (min-width: 1024px) {
            font-size: 48px;
        }
    }

    .tested-increment {
        color: #eee;
        font-size: 16px;
        font-weight: 200;
        
        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
    }

    .tested-compare {
        color: #eee;
    }

    .tested-text strong {
        color: #ff2e71;
        font-weight: 900;
        letter-spacing: .02rem;
    }

    .tested-chart {
        display: block;
        height: 40px;
        margin: 10px 0 0 0;
        width: auto;

        @media screen and (min-width: 1024px) {
            margin: 10px auto 0 auto;
            width: 60%;
        }
    }

    .tested-line {
        stroke: #eee;
        stroke-width: 1;
    }

    .tested-group-wrapper {
        display: block;
        margin: 0 auto;
        max-width: 900px;
        padding: 0 30px 40px 30px;
        width: auto;
    }

    .tested-group {}

    .tested-group-total {
        background: #eee;
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .tested-group-active {
        background: #ff2e71;
        display: block;
        height: 100%;
        width: 100%;
    }

    .tested-group-bullet-wrapper {
        display: block;
        overflow: hidden;
        position: absolute;
    }

    .tested-group-bullet-active {
        background: #ff2e71;
        box-sizing: border-box;
        display: block;
        float: left;
        margin: 0 1px 1px 0;
        opacity: .9;
        padding: 0;
    }

    .tested-group-bullet-wrapper-kr {
        .tested-group-bullet-active {
            background: #009FFF;
        }
        .tested-group-active {
            background: #009FFF;
        }
    }

    .tested-group-bullet-wrapper-de {
        .tested-group-bullet-active {
            background: #9462B4;
        }
        .tested-group-active {
            background: #9462B4;
        }
    }

    .tested-group-label {
        top: 50%;
        color: #222;
        display: block;
        font-size: 12px;
        font-weight: 200;
        letter-spacing: .02rem;
        line-height: 1;
        margin: 0 10px;
        position: absolute;
        right: 20px;
        text-align: left;
        transform: translate3d(0, -50%, 0);

        
        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
        
        @media screen and (min-width: 1024px) {
            font-size: 16px;
        }

        .tested-group-label-highlight {
            color: #ff2e71;
        }

        &:after {
            color: #ff2e71;
            display: block;
            content: '←';
            font-size: 14px;
            font-weight: 200;
            height: 20px;
            left: -20px;
            line-height: 20px;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            width: 20px;
        }
    }

    .tested-group-label-kr {

        .tested-group-label-highlight {
            color: #009FFF;
        }

        &:after {
            color: #009FFF;
        }
    }

    .tested-group-label-de {

        .tested-group-label-highlight {
            color: #9462B4;
        }

        &:after {
            color: #9462B4;
        }
    }

    .tested-group-legend {
        bottom: 20px;
        color: #222;
        display: block;
        font-size: 12px;
        font-weight: 200;
        right: 20px;
        line-height: 1.1;
        position: absolute;
        text-align: right;
        width: 50%;
    }
}