.timeline {
    display: block;

    .timeline-chart {
        display: block;
        margin: 20px 0;
        position: relative;
        width: 100%;

        @media screen and (min-width:768px) {
            margin-top: 0;
        }
    }

    .timeline-chart-timeline-grid {
        opacity: 0;
        stroke-dasharray: 1 8;
        stroke: #eee;
        stroke-width: 1;
        transition: opacity .25s ease-out;

        &.timeline-hover-active {
            opacity: .5;
        }
    }

    .timeline-chart-timeline-label {
        color: transparent;
        font-size: 10px;
        font-weight: 400;
        position: absolute;
        transform: translate3d(0, -50%, 0);
        transition: color .25s ease-out;
        pointer-events: none;
        white-space: nowrap;


        &.visible {
            color: #eee;
        }

        &.timeline-hover-active {
            color: #ff2e71;
            text-shadow: -1px 1px 0 #222,
    				  1px 1px 0 #222,
    				 1px -1px 0 #222,
    				-1px -1px 0 #222;
        }

        @media screen and (min-width:768px) {
            font-size: 16px;
        }
    }

    .timeline-axis-y {
        stroke: #eee;
        stroke-width: 1;
    }

    .timeline-chart-column-bar {
        fill: #eee;
        transition: fill .25s ease-out;

        &.recovered {
            fill: #C2FCF3;
        }

        &.deaths {
            fill: #D08FAE;
        }

        &.timeline-hover-active {
            fill: #ff2e71;

            &.recovered {
                fill: #60BAAE;
            }

            &.deaths {
                fill: #8B6376;
            }
        }
    }
    .timeline-chart-column-bar-ix {
      fill: #222;
    }

    .timeline-chart-column-title {
        color: #eee;
        font-size: 10px;
        font-weight: 400;
        position: absolute;
        text-align: left;
        text-transform: uppercase;
        top: 5px;
        transform: translate3d(-50%, -20px, 0) rotate(-90deg);
        min-width: 60px;

        &.inverted {
            color: #C2FCF3;
        }

        @media screen and (min-width:768px) {
            font-size: 14px;
            min-width: 0;
            text-align: center;
            transform: translate3d(-50%, 0, 0) rotate(0);
        }

        @media screen and (min-width:1024px) {
            font-size: 16px;
        }
    }

    .timeline-chart-column-detail {
        color: #ff2e71;
        font-size: 11px;
        font-weight: 400;
        position: absolute;
        text-transform: uppercase;
        top: 43px;
        transform: translate3d(-50%, 0, 0) rotate(0);

        &.inverted {
            color: #60BAAE;
        }

        @media screen and (min-width:400px) {
            font-size: 12px;
        }

        @media screen and (min-width:768px) {
            font-size: 24px;
            font-weight: 900;
            transform: translate3d(-50%, 0, 0) rotate(0);
            top: 25px;
        }
    }

    .timeline-chart-column-perc {
        color: #eee;
        font-size: 10px;
        font-weight: 200;
        opacity: .5;
        position: absolute;
        text-transform: uppercase;
        top: 60px;
        transform: translate3d(-50%, 0, 0) rotate(0);

        @media screen and (min-width:768px) {
            font-size: 16px;
        }

    }

    .timeline-chart-column-indicator {
        fill: #eee;
        font-size: 12px;
        stroke: none;
    }

    .timeline-chart-column-indicator-border {
        fill: none;
        stroke: none;
        stroke-width: 1;
        stroke-dasharray: 1 1;
    }

    .timeline-chart-timeline-bullet {
        fill: #eee;
        opacity: .05;
        transition: fill .25s ease-out, opacity .25s ease-out;

        &.timeline-hover-active {
            fill: #ff2e71;
            opacity: 1;
        }
    }

    .timeline-select-wrapper {
        font-size: 16px;
        font-weight: 200;
        height: 36px;
        line-height: 36px;
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;

        select {
            background: transparent;
            border: none;
            border-bottom: 1px dotted #eee;
            border-radius: 0;
            color: #eee;
            display: block;
            font-family: 'Exo 2', sans-serif;
            font-size: 20px;
            font-weight: 200;
            height: 36px;
            line-height: 36px;
            margin: 0 auto;
            padding: 0 10px;
            text-align: center;
            vertical-align: middle;
            width: auto;
            -webkit-appearance: none;

            option {
                display: block;
                text-align: center;
                width: 100%;
            }

            @media screen and (min-width:768px) {
                display: inline-block;
                margin: 0 10px;
                width: auto;
            }
        }
    }
}
