.timeline {
    display: block;

    .timeline-chart {
        display: block;
        margin: 20px 0;
        position: relative;
        width: 100%;

        @media screen and (min-width:768px) {
            margin-top: 0;
        }
    }

    .timeline-chart-timeline-grid {
        opacity: 0;
        stroke-dasharray: 1 12;
        stroke: #eee;
        stroke-width: 1;
        transition: opacity .25s ease-in-out;

        &.timeline-hover-active {
            opacity: .5;
        }
    }

    .timeline-chart-timeline-label {
        color: transparent;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        transform: translate3d(0, -50%, 0);
        transition: color .25s ease-in-out;

        &.visible {
            color: #eee;
        }

        &.timeline-hover-active {
            color: #ff2e71;
        }

        @media screen and (min-width:768px) {
            font-size: 16px;
        }
    }

    .timeline-axis-y {
        stroke: #eee;
        stroke-width: 1;
    }

    .timeline-chart-column-bar {
        fill: #eee;
        transition: fill .25s ease-in-out;

        &.inverted {
            fill: #C2FCF3;
        }

        &.timeline-hover-active {
            fill: #ff2e71;

            &.inverted {
                fill: #60BAAE;
            }
        }
    }

    .timeline-chart-column-title {
        color: #eee;
        font-size: 10px;
        font-weight: 400;
        position: absolute;
        text-align: left;
        text-transform: uppercase;
        top: 5px;
        transform: translate3d(-50%, -20px, 0) rotate(-90deg);
        min-width: 60px;

        &.inverted {
            color: #C2FCF3;
        }

        @media screen and (min-width:768px) {
            font-size: 14px;
            min-width: 0;
            text-align: center;
            transform: translate3d(-50%, 0, 0) rotate(0);
        }

        @media screen and (min-width:1024px) {
            font-size: 16px;
        }
    }

    .timeline-chart-column-detail {
        color: #ff2e71;
        font-size: 10px;
        font-weight: 400;
        position: absolute;
        text-transform: uppercase;
        top: 43px;
        transform: translate3d(-50%, 0, 0) rotate(0);

        &.inverted {
            color: #60BAAE;
        }

        @media screen and (min-width:400px) {
            font-size: 12px;
        }

        @media screen and (min-width:768px) {
            font-size: 24px;
            font-weight: 900;
            transform: translate3d(-50%, 0, 0) rotate(0);
            top: 25px;
        }
    }

    .timeline-chart-column-indicator {
        fill: #eee;
        font-size: 12px;
        stroke: none;
    }

    .timeline-chart-column-indicator-border {
        fill: none;
        stroke: none;
        stroke-width: 1;
        stroke-dasharray: 1 1;
    }
}