.tooltip {
    background: #9651A2;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 #222;
    display: none;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate3d(-50%, -100%, 0);
    width: 180px;
    z-index: 99;

    &:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #9651A2;
        content: '';
        display: none;
        height: 0; 
        left: 50%;
        position: absolute;
        top: 100%;
        transform: translate3d(-50%, 0, 0);
        transition: opacity .05s ease-in;
        width: 0; 
    }

    &.top-left {
        transform: translate3d(0, -100%, 0);

        &:after {
            border-width: 10px 5px 0 5px;
            left: 0;
            transform: translate3d(-3px, -3px, 0) rotate(27deg);
        }
    }

    &.top-right {
        transform: translate3d(-100%, -100%, 0);

        &:after {
            border-width: 10px 5px 0 5px;
            left: auto;
            right: 0;
            transform: translate3d(3px, -3px, 0) rotate(-27deg);
        }
    }

    &.bottom-right {
        transform: translate3d(-100%, 3px, 0);

        &:after {
            border-width: 10px 5px 0 5px;
            bottom: auto;
            left: auto;
            right: 0;
            top: 0;
            transform: translate3d(3px, -3px, 0) rotate(-27deg);
        }
    }

    &.bottom-left {
        transform: translate3d(0, 3px, 0);

        &:after {
            border-width: 10px 5px 0 5px;
            bottom: auto;
            left: -6px;
            right: auto;
            top: 0;
            transform: translate3d(3px, -3px, 0) rotate(27deg);
        }
    }

    &.tooltip-visible {
        display: block;

        &:after {
            display: block;
        }
    }

    .tooltip-inner {
        font-size: 12px;
        padding: 10px;

        .tooltip-data {
            font-size: 12px;
            text-transform: uppercase;
        }

        .tooltip-date {
            font-size: 14px;
            font-weight: 200;
            margin: 0 0 5px 0;
        }

        .tooltip-text {
            font-size: 14px;
        }

        strong {
            font-weight: 900;
        }
    }

    &.theme-light {
        background: #eee;
        color: #222;

        &:after {
            border-top-color: #eee;
        }
    }

    &.theme-energetic {
        background: #ff2e71;

        color: #eee;

        &:after {
            border-top-color: #ff2e71;
        }
    }

    &.theme-calm {
        background: #C2FCF3;

        color: #222;

        &:after {
            border-top-color: #C2FCF3;
        }
    }

    &.theme-candy {
        background: #FFCDFF;

        color: #550000;

        &:after {
            border-top-color: #FFCDFF;
        }
    }

}