.counter {
    padding: 20px;
}

.counter .counter-title {
    font-size: 30px;
    font-weight: 200;
    line-height: 1;
    margin:  0;
    text-align: center;
}

.counter .counter-number {
    color: #ff2e71;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: .02rem;
    line-height: 1;
    margin: 10px 0;
    text-align: center;
}

.counter .counter-people {
    color: #eee;
    font-size: 20px;
    font-weight: 200;
}

.counter-text {
    line-height: 1;
    text-align: center;
}

.counter-text strong {
    color: #ff2e71;
    font-weight: 900;
    letter-spacing: .02rem;
}

@media screen and (min-width: 768px) {
    .counter .counter-title {
        font-size: 56px;
    }

    .counter .counter-number {
        font-size: 80px;
    }
    
    .counter .counter-people {
        font-size: 28px;
        font-weight: 200;
    }
}