---
layout: default
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5,user-scalable=1">
        <title>
            {% if page.page_title %}
                {{ page.page_title }}
            {% endif %}
        </title>

        {% if page.page_keywords %}
        <meta name="keywords" content="{{page.page_keywords}}" />
        {% else if site.page_keywords %}
        <meta name="keywords" content="{{site.page_keywords}}" />
        {% endif %}

        {% if page.page_description %}
        <meta name="description" content="{{page.page_description}}" />
        {% endif %}
        <link href="https://fonts.googleapis.com/css?family=Exo+2:200,400,900&display=swap" rel="stylesheet">

        <script>
            const population = {
                china: 1439323776,
                "mainland-china": 1439323776,
                daegu: 2489802,
                france: 65273511,
                hubei: 58500000,
                italy: 60483973,
                germany: 83783942,
                lombardia: 10078012,
                southkorea: 51269185,
                "south-korea": 51269185,
                spain: 46749225,
                uk: 67776038,
                us: 329450000,
            };

            const regionsLabels = {
                abruzzo: 'Abruzzo',
                basilicata: 'Basilicata',
                bolzano: 'Prov. Aut. Bolzano',
                calabria: 'Calabria',
                campania: 'Campania',
                'emilia-romagna': 'Emilia Romagna',
                'friuli-venezia-giulia': 'Friuli Venezia Giulia',
                italy: 'Italy',
                lazio: 'Lazio',
                liguria: 'Liguria',
                lombardia: 'Lombardy',
                marche: 'Marche',
                molise: 'Molise',
                piemonte: 'Piedmont',
                puglia: 'Apulia',
                sardegna: 'Sardinia',
                sicilia: 'Sicily',
                toscana: 'Tuscany',
                trento: 'Prov. Aut. Trento',
                'trentino alto adige': 'Trentino Alto Adige',
                'trentino-alto-adige': 'Trentino Alto Adige',
                umbria: 'Umbria',
                'valle-d-aosta': 'Aosta Valley',
                veneto: 'Veneto',
            };
            const chartObjects = [];
        </script>
        {% include style.html %}
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    </head>
    <body class="loading">

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

        <!-- Charts Objects -->
        <script src="/assets/js/components/sparkline.js"></script>
        <script src="/assets/js/components/LineChart.js"></script>
        <script src="/assets/js/cases-recovered/index.js"></script>
        <script src="/assets/js/counter/index.js"></script>
        <script src="/assets/js/comparison/index.js"></script>
        <script src="/assets/js/countries-comparison/countries.js"></script>
        <script src="/assets/js/regions/regions.js"></script>
        <script src="/assets/js/provinces/provinces.js"></script>
        <script src="/assets/js/tested/index.js"></script>
        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js" integrity="sha256-m0QmIsBXcOMiETRmpT3qg2IQ/i0qazJA2miCHzOmS1Y=" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3-array.v2.min.js"></script>
        <script src="https://d3js.org/d3-geo.v1.min.js"></script>
        <script src="https://unpkg.com/topojson@3"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
        <script src="/assets/js/main.js"></script>
    </body>
</html>
