---
layout: default
---
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=5,user-scalable=1">
        <meta name="theme-color" content="#222222">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>
            {% if page.page_title %}
                {{ page.page_title }}
            {% endif %}
        </title>

        <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/assets/icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#222222">
        <meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#222222">

        {% if page.page_keywords %}
        <meta name="keywords" content="{{page.page_keywords}}" />
        {% else if site.page_keywords %}
        <meta name="keywords" content="{{site.page_keywords}}" />
        {% endif %}

        {% if page.page_description %}
        <meta name="description" content="{{page.page_description}}" />
        {% endif %}

        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ page.page_title }}">
        <meta property="og:description" content="{{page.page_description}}">
        <meta property="og:url" content="https://coronavirus.visualize.news/">
        <meta property="og:site_name" content="Corona Virus in Italy by Visualize News">
        <meta property="og:image" content="http://assets.visualize.news.koolmoe.at/coronavirus/ogimage.png">

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@visualizenews" />
        <meta name="twitter:title" content="{{ page.page_title }}" />
        <meta name="twitter:description" content="{{page.page_description}}" />
        <meta name="twitter:image" content="http://assets.visualize.news.koolmoe.at/coronavirus/ogimage.png" />

        <link href="https://fonts.googleapis.com/css?family=Exo+2:200,400,900&display=swap" rel="stylesheet">

        <script>
            const population = {
                china: 1439323776,
                "mainland-china": 1439323776,
                daegu: 2489802,
                france: 65273511,
                hubei: 58500000,
                italy: 60483973,
                germany: 83725113,
                lombardia: 10078012,
                southkorea: 51269185,
                "south-korea": 51269185,
                spain: 46749225,
                uk: 67776038,
                us: 329450000,
            };

            const regionsLabels = {
                abruzzo: 'Abruzzo',
                basilicata: 'Basilicata',
                bolzano: 'Prov. Aut. Bolzano',
                calabria: 'Calabria',
                campania: 'Campania',
                'emilia-romagna': 'Emilia Romagna',
                'friuli-venezia-giulia': 'Friuli Venezia Giulia',
                italy: 'Italy',
                lazio: 'Lazio',
                liguria: 'Liguria',
                lombardia: 'Lombardy',
                marche: 'Marche',
                molise: 'Molise',
                piemonte: 'Piedmont',
                puglia: 'Apulia',
                sardegna: 'Sardinia',
                sicilia: 'Sicily',
                toscana: 'Tuscany',
                trento: 'Prov. Aut. Trento',
                'trentino alto adige': 'Trentino Alto Adige / Südtirol',
                'trentino-alto-adige': 'Trentino Alto Adige / Südtirol',
                umbria: 'Umbria',
                'valle-d-aosta': 'Aosta Valley',
                veneto: 'Veneto',
                north: 'Regions in<br />Northern Italy',
                center: 'Regions in<br />Centeral Italy',
                south: 'Regions in<br />Southern Italy',
            };

            const regionsShortLabels = {
                abruzzo: 'Abruzzo',
                basilicata: 'Basilicata',
                bolzano: 'P.A. Bolzano',
                calabria: 'Calabria',
                campania: 'Campania',
                'emilia-romagna': 'Emilia Rom.',
                'friuli-venezia-giulia': 'Friuli V. G.',
                italy: 'Italy',
                lazio: 'Lazio',
                liguria: 'Liguria',
                lombardia: 'Lombardy',
                marche: 'Marche',
                molise: 'Molise',
                piemonte: 'Piedmont',
                puglia: 'Apulia',
                sardegna: 'Sardinia',
                sicilia: 'Sicily',
                toscana: 'Tuscany',
                trento: 'P.A. Trento',
                'trentino alto adige': 'Trentino Alto Adige / Südtirol',
                'trentino-alto-adige': 'Trentino Alto Adige / Südtirol',
                umbria: 'Umbria',
                'valle-d-aosta': 'Aosta Val.',
                veneto: 'Veneto',
                north: 'Regions in<br />Northern Italy',
                center: 'Regions in<br />Centeral Italy',
                south: 'Regions in<br />Southern Italy',
            };
            const chartObjects = [{method: 'evolution', id: 'evolution'}];

            const mainEvents = [
                {
                    day: '2020-02-24',
                    event: 'While the first official case of COVID-19 in Italy has been reported in January 31st, only on February 24th data has been made publicly available.'
                },
                {
                    day: '2020-03-04',
                    event: 'Shut down of schools, universities and leisure places such as gyms, pools, and theaters.'
                },
                {
                    day: '2020-03-07',
                    event: 'Lombardy and 11 more provinces declared Red Zones (quarantined areas).'
                },
                {
                    day: '2020-03-09',
                    event: 'The entire country declared Red Zone: traveling within Italy or abroad prohibited.'
                },
                {
                    day: '2020-03-11',
                    event: 'Shut down of all commercial activities, shops and restaurants, safe those selling basic commodities. Residents recommended to stay at home and leave their apartments only if extremely necessary.'
                },
                {
                    day: '2020-03-21',
                    event: 'Lock-down of plants, offices and public offices safe the ones in the food and healthcare chains. Individuals that leave their homes without a valid reason are fined. The Italian Army will support the Police in enforcing the "#stayathome" rules.'
                },
                {
                    day: '2020-03-31',
                    event: 'The new 400-bed ICU field hospital at the Milan old fairgrounds is officially opened.'
                },
                {
                    day: '2020-04-10',
                    event: 'The country-wise lockdown has been prolonged unitl May, 4th.'
                },
            ];
        </script>
        {% include style.html %}
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137198797-5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-137198797-5');
        </script>
    </head>
    <body class="loading">

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

        <!-- Charts Objects -->
        <script src="/assets/js/components/sparkline.js"></script>
        <script src="/assets/js/components/LineChart.js"></script>
        <script src="/assets/js/components/tooltip.js"></script>
        <script src="/assets/js/components/annotation.js"></script>
        <script src="/assets/js/components/Spacer.js"></script>
        <script src="/assets/js/components/svg.intersections.js"></script>
        <script src="/assets/js/cases-recovered/index.js"></script>
        <script src="/assets/js/counter/index.js"></script>
        <script src="/assets/js/comparison/index.js"></script>
        <script src="/assets/js/countries-comparison/countries.js"></script>
        <script src="/assets/js/regions/regions.js"></script>
        <script src="/assets/js/provinces/provinces.js"></script>
        <script src="/assets/js/tested/index.js"></script>
        <script src="/assets/js/timeline/index.js"></script>
        <script src="/assets/js/evolution/index.js"></script>
        <script src="/assets/js/spacers/index.js"></script>
        <script src="/assets/js/columns/index.js"></script>
        <script src="/assets/js/heatmap/index.js"></script>
        <script src="/assets/js/hospitalVsRecovery/hospitalVsRecovery.js"></script>
        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js" integrity="sha256-m0QmIsBXcOMiETRmpT3qg2IQ/i0qazJA2miCHzOmS1Y=" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3-array.v2.min.js"></script>
        <script src="https://d3js.org/d3-geo.v1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-shape/1.2.0/d3-shape.min.js" integrity="sha256-YV2jiEkRzPd80PceOJEbzWFJjQFnYIo5KVCsmaC7mEI=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/topojson@3"></script>
        <script src="https://unpkg.com/d3-scale-cluster@1.3.1/dist/d3-scale-cluster.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
        <script src="/assets/js/main.js"></script>
    </body>
</html>
