---
layout: default
---
<div class="page-content-blocks">
    {%- if page.page_content -%}
        {% for block in page.page_content %}
            {%- if block.template == 'text-blocks' -%}
                <div class="page-text-block">
                    {%- if block.title -%}
                        <h2 class="page-text-block-title">{{block.title}}</h2>
                    {%- endif -%}
                    {%- if block.image != '' -%}
                        <img class="page-text-block-image" src="{{block.image}}" alt="{{block.title}}"" />
                    {%- endif -%}
                    {%- if block.text_block -%}
                        <div class="page-text-block-text">{{block.text_block}}</div>
                    {%- endif -%}
                </div>
            {%- endif -%}
            {%- if block.template == 'chart' -%}
                <div class="page-chart-block" id="chart-wrapper-{{block.placeholder_id}}">
                    {%- if block.title -%}
                        <h2 class="page-chart-block-title">{{block.title}}</h2>
                    {%- endif -%}
                    {%- if block.introduction -%}
                        <div class="page-chart-block-text">{{block.introduction}}</div>
                    {%- endif -%}
                    <div class="page-chart loading {{block.appearance | slugify}}" id="{{block.placeholder_id}}"></div>
                    {%- if block.explanation -%}
                        <div class="page-chart-block-explanation">{{block.explanation}}</div>
                    {%- endif -%}
                    {%- if block.object != '' -%}
                    <script>
                        chartObjects.push({method: '{{block.object}}', id: '{{block.placeholder_id}}'});
                    </script>
                    {%- endif -%}
                </div>
            {%- endif -%}
        {% endfor %}
    {%- endif -%}
</div>
